/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
@keyframes animation1 {
  0% {
    transform: translate(1116px, 166px);
  }

  20% {
    transform: translate(1148px, 166px);
  }

  40% {
    transform: translate(1180px, 166px);
  }

  60% {
    transform: translate(1212px, 139px);
  }

  80% {
    transform: translate(1244px, 166px);
  }

  100% {
    transform: translate(1276px, 193px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation2 {
  0% {
    transform: translate(220px, 571px);
  }

  3.03% {
    transform: translate(252px, 544px);
  }

  6.06% {
    transform: translate(284px, 517px);
  }

  9.09% {
    transform: translate(316px, 544px);
  }

  12.12% {
    transform: translate(348px, 571px);
  }

  15.15% {
    transform: translate(380px, 598px);
  }

  18.18% {
    transform: translate(412px, 571px);
  }

  21.21% {
    transform: translate(444px, 571px);
  }

  24.24% {
    transform: translate(476px, 571px);
  }

  27.27% {
    transform: translate(508px, 544px);
  }

  30.3% {
    transform: translate(540px, 571px);
  }

  33.33% {
    transform: translate(572px, 598px);
  }

  36.36% {
    transform: translate(604px, 571px);
  }

  39.39% {
    transform: translate(636px, 598px);
  }

  42.42% {
    transform: translate(668px, 625px);
  }

  45.45% {
    transform: translate(700px, 652px);
  }

  48.48% {
    transform: translate(732px, 679px);
  }

  51.52% {
    transform: translate(764px, 706px);
  }

  54.55% {
    transform: translate(796px, 733px);
  }

  57.58% {
    transform: translate(828px, 706px);
  }

  60.61% {
    transform: translate(860px, 733px);
  }

  63.64% {
    transform: translate(892px, 733px);
  }

  66.67% {
    transform: translate(924px, 760px);
  }

  69.7% {
    transform: translate(956px, 733px);
  }

  72.73% {
    transform: translate(988px, 706px);
  }

  75.76% {
    transform: translate(1020px, 706px);
  }

  78.79% {
    transform: translate(1052px, 706px);
  }

  81.82% {
    transform: translate(1084px, 733px);
  }

  84.85% {
    transform: translate(1116px, 706px);
  }

  87.88% {
    transform: translate(1148px, 679px);
  }

  90.91% {
    transform: translate(1180px, 706px);
  }

  93.94% {
    transform: translate(1212px, 679px);
  }

  96.97% {
    transform: translate(1244px, 652px);
  }

  100% {
    transform: translate(1276px, 679px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation3 {
  0% {
    transform: translate(-36px, 166px);
  }

  2.44% {
    transform: translate(-4px, 166px);
  }

  4.88% {
    transform: translate(28px, 139px);
  }

  7.32% {
    transform: translate(60px, 166px);
  }

  9.76% {
    transform: translate(92px, 193px);
  }

  12.2% {
    transform: translate(124px, 220px);
  }

  14.63% {
    transform: translate(156px, 247px);
  }

  17.07% {
    transform: translate(188px, 247px);
  }

  19.51% {
    transform: translate(220px, 247px);
  }

  21.95% {
    transform: translate(252px, 220px);
  }

  24.39% {
    transform: translate(284px, 220px);
  }

  26.83% {
    transform: translate(316px, 193px);
  }

  29.27% {
    transform: translate(348px, 166px);
  }

  31.71% {
    transform: translate(380px, 193px);
  }

  34.15% {
    transform: translate(412px, 193px);
  }

  36.59% {
    transform: translate(444px, 166px);
  }

  39.02% {
    transform: translate(476px, 166px);
  }

  41.46% {
    transform: translate(508px, 166px);
  }

  43.9% {
    transform: translate(540px, 193px);
  }

  46.34% {
    transform: translate(572px, 220px);
  }

  48.78% {
    transform: translate(604px, 193px);
  }

  51.22% {
    transform: translate(636px, 193px);
  }

  53.66% {
    transform: translate(668px, 166px);
  }

  56.1% {
    transform: translate(700px, 166px);
  }

  58.54% {
    transform: translate(732px, 166px);
  }

  60.98% {
    transform: translate(764px, 166px);
  }

  63.41% {
    transform: translate(796px, 139px);
  }

  65.85% {
    transform: translate(828px, 139px);
  }

  68.29% {
    transform: translate(860px, 112px);
  }

  70.73% {
    transform: translate(892px, 139px);
  }

  73.17% {
    transform: translate(924px, 166px);
  }

  75.61% {
    transform: translate(956px, 139px);
  }

  78.05% {
    transform: translate(988px, 166px);
  }

  80.49% {
    transform: translate(1020px, 166px);
  }

  82.93% {
    transform: translate(1052px, 193px);
  }

  85.37% {
    transform: translate(1084px, 166px);
  }

  87.8% {
    transform: translate(1116px, 193px);
  }

  90.24% {
    transform: translate(1148px, 220px);
  }

  92.68% {
    transform: translate(1180px, 220px);
  }

  95.12% {
    transform: translate(1212px, 247px);
  }

  97.56% {
    transform: translate(1244px, 274px);
  }

  100% {
    transform: translate(1276px, 247px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation4 {
  0% {
    transform: translate(188px, 328px);
  }

  20% {
    transform: translate(220px, 355px);
  }

  40% {
    transform: translate(252px, 328px);
  }

  60% {
    transform: translate(284px, 355px);
  }

  80% {
    transform: translate(316px, 355px);
  }

  100% {
    transform: translate(348px, 328px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation5 {
  0% {
    transform: translate(220px, 814px);
  }

  3.03% {
    transform: translate(252px, 787px);
  }

  6.06% {
    transform: translate(284px, 760px);
  }

  9.09% {
    transform: translate(316px, 760px);
  }

  12.12% {
    transform: translate(348px, 760px);
  }

  15.15% {
    transform: translate(380px, 760px);
  }

  18.18% {
    transform: translate(412px, 787px);
  }

  21.21% {
    transform: translate(444px, 760px);
  }

  24.24% {
    transform: translate(476px, 760px);
  }

  27.27% {
    transform: translate(508px, 760px);
  }

  30.3% {
    transform: translate(540px, 733px);
  }

  33.33% {
    transform: translate(572px, 733px);
  }

  36.36% {
    transform: translate(604px, 760px);
  }

  39.39% {
    transform: translate(636px, 787px);
  }

  42.42% {
    transform: translate(668px, 787px);
  }

  45.45% {
    transform: translate(700px, 760px);
  }

  48.48% {
    transform: translate(732px, 760px);
  }

  51.52% {
    transform: translate(764px, 787px);
  }

  54.55% {
    transform: translate(796px, 787px);
  }

  57.58% {
    transform: translate(828px, 787px);
  }

  60.61% {
    transform: translate(860px, 760px);
  }

  63.64% {
    transform: translate(892px, 760px);
  }

  66.67% {
    transform: translate(924px, 760px);
  }

  69.7% {
    transform: translate(956px, 760px);
  }

  72.73% {
    transform: translate(988px, 787px);
  }

  75.76% {
    transform: translate(1020px, 814px);
  }

  78.79% {
    transform: translate(1052px, 814px);
  }

  81.82% {
    transform: translate(1084px, 814px);
  }

  84.85% {
    transform: translate(1116px, 787px);
  }

  87.88% {
    transform: translate(1148px, 760px);
  }

  90.91% {
    transform: translate(1180px, 787px);
  }

  93.94% {
    transform: translate(1212px, 814px);
  }

  96.97% {
    transform: translate(1244px, 787px);
  }

  100% {
    transform: translate(1276px, 787px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation6 {
  0% {
    transform: translate(316px, 301px);
  }

  4.55% {
    transform: translate(348px, 328px);
  }

  9.09% {
    transform: translate(380px, 355px);
  }

  13.64% {
    transform: translate(412px, 382px);
  }

  18.18% {
    transform: translate(444px, 355px);
  }

  22.73% {
    transform: translate(476px, 355px);
  }

  27.27% {
    transform: translate(508px, 382px);
  }

  31.82% {
    transform: translate(540px, 355px);
  }

  36.36% {
    transform: translate(572px, 382px);
  }

  40.91% {
    transform: translate(604px, 355px);
  }

  45.45% {
    transform: translate(636px, 328px);
  }

  50% {
    transform: translate(668px, 328px);
  }

  54.55% {
    transform: translate(700px, 355px);
  }

  59.09% {
    transform: translate(732px, 382px);
  }

  63.64% {
    transform: translate(764px, 355px);
  }

  68.18% {
    transform: translate(796px, 355px);
  }

  72.73% {
    transform: translate(828px, 355px);
  }

  77.27% {
    transform: translate(860px, 355px);
  }

  81.82% {
    transform: translate(892px, 355px);
  }

  86.36% {
    transform: translate(924px, 355px);
  }

  90.91% {
    transform: translate(956px, 355px);
  }

  95.45% {
    transform: translate(988px, 328px);
  }

  100% {
    transform: translate(1020px, 328px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation7 {
  0% {
    transform: translate(636px, 814px);
  }

  11.11% {
    transform: translate(668px, 841px);
  }

  22.22% {
    transform: translate(700px, 841px);
  }

  33.33% {
    transform: translate(732px, 841px);
  }

  44.44% {
    transform: translate(764px, 814px);
  }

  55.56% {
    transform: translate(796px, 787px);
  }

  66.67% {
    transform: translate(828px, 760px);
  }

  77.78% {
    transform: translate(860px, 787px);
  }

  88.89% {
    transform: translate(892px, 787px);
  }

  100% {
    transform: translate(924px, 760px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation8 {
  0% {
    transform: translate(796px, -50px);
  }

  5.26% {
    transform: translate(828px, -50px);
  }

  10.53% {
    transform: translate(860px, -50px);
  }

  15.79% {
    transform: translate(892px, -50px);
  }

  21.05% {
    transform: translate(924px, -50px);
  }

  26.32% {
    transform: translate(956px, -50px);
  }

  31.58% {
    transform: translate(988px, -23px);
  }

  36.84% {
    transform: translate(1020px, 4px);
  }

  42.11% {
    transform: translate(1052px, 4px);
  }

  47.37% {
    transform: translate(1084px, 31px);
  }

  52.63% {
    transform: translate(1116px, 4px);
  }

  57.89% {
    transform: translate(1148px, -23px);
  }

  63.16% {
    transform: translate(1180px, -50px);
  }

  68.42% {
    transform: translate(1212px, -50px);
  }

  73.68% {
    transform: translate(1244px, -50px);
  }

  78.95% {
    transform: translate(1276px, -23px);
  }

  84.21% {
    transform: translate(1308px, -50px);
  }

  89.47% {
    transform: translate(1340px, -50px);
  }

  94.74% {
    transform: translate(1372px, -50px);
  }

  100% {
    transform: translate(1404px, -23px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation9 {
  0% {
    transform: translate(540px, 544px);
  }

  4.17% {
    transform: translate(572px, 544px);
  }

  8.33% {
    transform: translate(604px, 517px);
  }

  12.5% {
    transform: translate(636px, 517px);
  }

  16.67% {
    transform: translate(668px, 490px);
  }

  20.83% {
    transform: translate(700px, 490px);
  }

  25% {
    transform: translate(732px, 490px);
  }

  29.17% {
    transform: translate(764px, 517px);
  }

  33.33% {
    transform: translate(796px, 544px);
  }

  37.5% {
    transform: translate(828px, 517px);
  }

  41.67% {
    transform: translate(860px, 490px);
  }

  45.83% {
    transform: translate(892px, 490px);
  }

  50% {
    transform: translate(924px, 517px);
  }

  54.17% {
    transform: translate(956px, 490px);
  }

  58.33% {
    transform: translate(988px, 463px);
  }

  62.5% {
    transform: translate(1020px, 436px);
  }

  66.67% {
    transform: translate(1052px, 463px);
  }

  70.83% {
    transform: translate(1084px, 463px);
  }

  75% {
    transform: translate(1116px, 463px);
  }

  79.17% {
    transform: translate(1148px, 463px);
  }

  83.33% {
    transform: translate(1180px, 463px);
  }

  87.5% {
    transform: translate(1212px, 463px);
  }

  91.67% {
    transform: translate(1244px, 490px);
  }

  95.83% {
    transform: translate(1276px, 463px);
  }

  100% {
    transform: translate(1308px, 436px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation10 {
  0% {
    transform: translate(92px, 112px);
  }

  5% {
    transform: translate(124px, 112px);
  }

  10% {
    transform: translate(156px, 139px);
  }

  15% {
    transform: translate(188px, 139px);
  }

  20% {
    transform: translate(220px, 112px);
  }

  25% {
    transform: translate(252px, 85px);
  }

  30% {
    transform: translate(284px, 85px);
  }

  35% {
    transform: translate(316px, 58px);
  }

  40% {
    transform: translate(348px, 85px);
  }

  45% {
    transform: translate(380px, 58px);
  }

  50% {
    transform: translate(412px, 31px);
  }

  55% {
    transform: translate(444px, 58px);
  }

  60% {
    transform: translate(476px, 85px);
  }

  65% {
    transform: translate(508px, 112px);
  }

  70% {
    transform: translate(540px, 85px);
  }

  75% {
    transform: translate(572px, 85px);
  }

  80% {
    transform: translate(604px, 58px);
  }

  85% {
    transform: translate(636px, 58px);
  }

  90% {
    transform: translate(668px, 31px);
  }

  95% {
    transform: translate(700px, 4px);
  }

  100% {
    transform: translate(732px, -23px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation11 {
  0% {
    transform: translate(668px, 85px);
  }

  8.33% {
    transform: translate(700px, 112px);
  }

  16.67% {
    transform: translate(732px, 139px);
  }

  25% {
    transform: translate(764px, 139px);
  }

  33.33% {
    transform: translate(796px, 139px);
  }

  41.67% {
    transform: translate(828px, 112px);
  }

  50% {
    transform: translate(860px, 85px);
  }

  58.33% {
    transform: translate(892px, 112px);
  }

  66.67% {
    transform: translate(924px, 112px);
  }

  75% {
    transform: translate(956px, 112px);
  }

  83.33% {
    transform: translate(988px, 139px);
  }

  91.67% {
    transform: translate(1020px, 112px);
  }

  100% {
    transform: translate(1052px, 85px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation12 {
  0% {
    transform: translate(860px, 841px);
  }

  25% {
    transform: translate(892px, 868px);
  }

  50% {
    transform: translate(924px, 868px);
  }

  75% {
    transform: translate(956px, 841px);
  }

  100% {
    transform: translate(988px, 814px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation13 {
  0% {
    transform: translate(444px, 571px);
  }

  50% {
    transform: translate(476px, 571px);
  }

  100% {
    transform: translate(508px, 544px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation14 {
  0% {
    transform: translate(444px, 1003px);
  }

  4.17% {
    transform: translate(476px, 976px);
  }

  8.33% {
    transform: translate(508px, 949px);
  }

  12.5% {
    transform: translate(540px, 976px);
  }

  16.67% {
    transform: translate(572px, 949px);
  }

  20.83% {
    transform: translate(604px, 949px);
  }

  25% {
    transform: translate(636px, 922px);
  }

  29.17% {
    transform: translate(668px, 949px);
  }

  33.33% {
    transform: translate(700px, 949px);
  }

  37.5% {
    transform: translate(732px, 949px);
  }

  41.67% {
    transform: translate(764px, 949px);
  }

  45.83% {
    transform: translate(796px, 922px);
  }

  50% {
    transform: translate(828px, 895px);
  }

  54.17% {
    transform: translate(860px, 895px);
  }

  58.33% {
    transform: translate(892px, 922px);
  }

  62.5% {
    transform: translate(924px, 895px);
  }

  66.67% {
    transform: translate(956px, 868px);
  }

  70.83% {
    transform: translate(988px, 841px);
  }

  75% {
    transform: translate(1020px, 868px);
  }

  79.17% {
    transform: translate(1052px, 841px);
  }

  83.33% {
    transform: translate(1084px, 841px);
  }

  87.5% {
    transform: translate(1116px, 868px);
  }

  91.67% {
    transform: translate(1148px, 895px);
  }

  95.83% {
    transform: translate(1180px, 868px);
  }

  100% {
    transform: translate(1212px, 868px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation15 {
  0% {
    transform: translate(380px, 4px);
  }

  5% {
    transform: translate(412px, 4px);
  }

  10% {
    transform: translate(444px, 31px);
  }

  15% {
    transform: translate(476px, 4px);
  }

  20% {
    transform: translate(508px, 31px);
  }

  25% {
    transform: translate(540px, 58px);
  }

  30% {
    transform: translate(572px, 58px);
  }

  35% {
    transform: translate(604px, 85px);
  }

  40% {
    transform: translate(636px, 85px);
  }

  45% {
    transform: translate(668px, 85px);
  }

  50% {
    transform: translate(700px, 85px);
  }

  55% {
    transform: translate(732px, 85px);
  }

  60% {
    transform: translate(764px, 58px);
  }

  65% {
    transform: translate(796px, 85px);
  }

  70% {
    transform: translate(828px, 85px);
  }

  75% {
    transform: translate(860px, 112px);
  }

  80% {
    transform: translate(892px, 139px);
  }

  85% {
    transform: translate(924px, 139px);
  }

  90% {
    transform: translate(956px, 166px);
  }

  95% {
    transform: translate(988px, 166px);
  }

  100% {
    transform: translate(1020px, 166px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation16 {
  0% {
    transform: translate(284px, 706px);
  }

  3.33% {
    transform: translate(316px, 733px);
  }

  6.67% {
    transform: translate(348px, 706px);
  }

  10% {
    transform: translate(380px, 706px);
  }

  13.33% {
    transform: translate(412px, 706px);
  }

  16.67% {
    transform: translate(444px, 733px);
  }

  20% {
    transform: translate(476px, 760px);
  }

  23.33% {
    transform: translate(508px, 787px);
  }

  26.67% {
    transform: translate(540px, 787px);
  }

  30% {
    transform: translate(572px, 760px);
  }

  33.33% {
    transform: translate(604px, 733px);
  }

  36.67% {
    transform: translate(636px, 733px);
  }

  40% {
    transform: translate(668px, 733px);
  }

  43.33% {
    transform: translate(700px, 733px);
  }

  46.67% {
    transform: translate(732px, 760px);
  }

  50% {
    transform: translate(764px, 787px);
  }

  53.33% {
    transform: translate(796px, 787px);
  }

  56.67% {
    transform: translate(828px, 814px);
  }

  60% {
    transform: translate(860px, 787px);
  }

  63.33% {
    transform: translate(892px, 814px);
  }

  66.67% {
    transform: translate(924px, 787px);
  }

  70% {
    transform: translate(956px, 814px);
  }

  73.33% {
    transform: translate(988px, 787px);
  }

  76.67% {
    transform: translate(1020px, 787px);
  }

  80% {
    transform: translate(1052px, 814px);
  }

  83.33% {
    transform: translate(1084px, 814px);
  }

  86.67% {
    transform: translate(1116px, 814px);
  }

  90% {
    transform: translate(1148px, 787px);
  }

  93.33% {
    transform: translate(1180px, 760px);
  }

  96.67% {
    transform: translate(1212px, 787px);
  }

  100% {
    transform: translate(1244px, 787px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation17 {
  0% {
    transform: translate(-68px, 868px);
  }

  20% {
    transform: translate(-36px, 841px);
  }

  40% {
    transform: translate(-4px, 814px);
  }

  60% {
    transform: translate(28px, 787px);
  }

  80% {
    transform: translate(60px, 760px);
  }

  100% {
    transform: translate(92px, 733px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation18 {
  0% {
    transform: translate(28px, 895px);
  }

  2.86% {
    transform: translate(60px, 868px);
  }

  5.71% {
    transform: translate(92px, 841px);
  }

  8.57% {
    transform: translate(124px, 814px);
  }

  11.43% {
    transform: translate(156px, 841px);
  }

  14.29% {
    transform: translate(188px, 814px);
  }

  17.14% {
    transform: translate(220px, 787px);
  }

  20% {
    transform: translate(252px, 814px);
  }

  22.86% {
    transform: translate(284px, 787px);
  }

  25.71% {
    transform: translate(316px, 814px);
  }

  28.57% {
    transform: translate(348px, 814px);
  }

  31.43% {
    transform: translate(380px, 787px);
  }

  34.29% {
    transform: translate(412px, 814px);
  }

  37.14% {
    transform: translate(444px, 814px);
  }

  40% {
    transform: translate(476px, 841px);
  }

  42.86% {
    transform: translate(508px, 841px);
  }

  45.71% {
    transform: translate(540px, 814px);
  }

  48.57% {
    transform: translate(572px, 787px);
  }

  51.43% {
    transform: translate(604px, 814px);
  }

  54.29% {
    transform: translate(636px, 814px);
  }

  57.14% {
    transform: translate(668px, 814px);
  }

  60% {
    transform: translate(700px, 787px);
  }

  62.86% {
    transform: translate(732px, 787px);
  }

  65.71% {
    transform: translate(764px, 787px);
  }

  68.57% {
    transform: translate(796px, 787px);
  }

  71.43% {
    transform: translate(828px, 814px);
  }

  74.29% {
    transform: translate(860px, 841px);
  }

  77.14% {
    transform: translate(892px, 868px);
  }

  80% {
    transform: translate(924px, 841px);
  }

  82.86% {
    transform: translate(956px, 868px);
  }

  85.71% {
    transform: translate(988px, 895px);
  }

  88.57% {
    transform: translate(1020px, 868px);
  }

  91.43% {
    transform: translate(1052px, 868px);
  }

  94.29% {
    transform: translate(1084px, 868px);
  }

  97.14% {
    transform: translate(1116px, 895px);
  }

  100% {
    transform: translate(1148px, 895px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation19 {
  0% {
    transform: translate(604px, 976px);
  }

  4.35% {
    transform: translate(636px, 1003px);
  }

  8.7% {
    transform: translate(668px, 976px);
  }

  13.04% {
    transform: translate(700px, 1003px);
  }

  17.39% {
    transform: translate(732px, 1030px);
  }

  21.74% {
    transform: translate(764px, 1030px);
  }

  26.09% {
    transform: translate(796px, 1057px);
  }

  30.43% {
    transform: translate(828px, 1030px);
  }

  34.78% {
    transform: translate(860px, 1057px);
  }

  39.13% {
    transform: translate(892px, 1057px);
  }

  43.48% {
    transform: translate(924px, 1030px);
  }

  47.83% {
    transform: translate(956px, 1030px);
  }

  52.17% {
    transform: translate(988px, 1030px);
  }

  56.52% {
    transform: translate(1020px, 1057px);
  }

  60.87% {
    transform: translate(1052px, 1030px);
  }

  65.22% {
    transform: translate(1084px, 1030px);
  }

  69.57% {
    transform: translate(1116px, 1057px);
  }

  73.91% {
    transform: translate(1148px, 1030px);
  }

  78.26% {
    transform: translate(1180px, 1030px);
  }

  82.61% {
    transform: translate(1212px, 1030px);
  }

  86.96% {
    transform: translate(1244px, 1030px);
  }

  91.3% {
    transform: translate(1276px, 1003px);
  }

  95.65% {
    transform: translate(1308px, 1030px);
  }

  100% {
    transform: translate(1340px, 1030px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation20 {
  0% {
    transform: translate(668px, 85px);
  }

  4% {
    transform: translate(700px, 58px);
  }

  8% {
    transform: translate(732px, 85px);
  }

  12% {
    transform: translate(764px, 85px);
  }

  16% {
    transform: translate(796px, 85px);
  }

  20% {
    transform: translate(828px, 58px);
  }

  24% {
    transform: translate(860px, 58px);
  }

  28% {
    transform: translate(892px, 31px);
  }

  32% {
    transform: translate(924px, 4px);
  }

  36% {
    transform: translate(956px, 4px);
  }

  40% {
    transform: translate(988px, 31px);
  }

  44% {
    transform: translate(1020px, 4px);
  }

  48% {
    transform: translate(1052px, -23px);
  }

  52% {
    transform: translate(1084px, -23px);
  }

  56% {
    transform: translate(1116px, -23px);
  }

  60% {
    transform: translate(1148px, -23px);
  }

  64% {
    transform: translate(1180px, -50px);
  }

  68% {
    transform: translate(1212px, -50px);
  }

  72% {
    transform: translate(1244px, -50px);
  }

  76% {
    transform: translate(1276px, -23px);
  }

  80% {
    transform: translate(1308px, -23px);
  }

  84% {
    transform: translate(1340px, 4px);
  }

  88% {
    transform: translate(1372px, 31px);
  }

  92% {
    transform: translate(1404px, 31px);
  }

  96% {
    transform: translate(1436px, 4px);
  }

  100% {
    transform: translate(1468px, 31px);
  }

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.particle {
  position: absolute;
  opacity: 0;
  overflow: visible;
  background-size: contain;
}

.elem1 {
  left: 124px;
  top: 139px;
  animation: animation1 linear 19s infinite;
  height: 161px;
  width: 161px;
  background-image: url(image/baiji1.jpg);
}

.elem2 {
  left: -100px;
  top: 85px;
  animation: animation2 linear 20s infinite;
  height: 166px;
  width: 166px;
  background-image: url(image/barracuda1.jpg);
}

.elem3 {
  left: -4px;
  top: 85px;
  animation: animation3 linear 19s infinite;
  height: 162px;
  width: 162px;
  background-image: url(image/beluga1.jpg);
}

.elem4 {
  left: 28px;
  top: 193px;
  animation: animation4 linear 17s infinite;
  height: 113px;
  width: 113px;
  background-image: url(image/beluga2.jpg);
}

.elem5 {
  left: 156px;
  top: -50px;
  animation: animation5 linear 19s infinite;
  height: 115px;
  width: 115px;
  background-image: url(image/blue1.jpg);
}

.elem6 {
  left: 92px;
  top: 85px;
  animation: animation6 linear 18s infinite;
  height: 168px;
  width: 168px;
  background-image: url(image/blue2.jpg);
}

.elem7 {
  left: -4px;
  top: -50px;
  animation: animation7 linear 17s infinite;
  height: 96px;
  width: 96px;
  background-image: url(image/blue3.jpg);
}

.elem8 {
  left: 28px;
  top: 112px;
  animation: animation8 linear 16s infinite;
  height: 123px;
  width: 123px;
  background-image: url(image/humpback1.jpg);
}

.elem9 {
  left: 28px;
  top: 193px;
  animation: animation9 linear 20s infinite;
  height: 104px;
  width: 104px;
  background-image: url(image/humpback2.jpg);
}

.elem10 {
  left: -68px;
  top: 58px;
  animation: animation10 linear 18s infinite;
  height: 88px;
  width: 88px;
  background-image: url(image/humpback3.jpg);
}

.elem11 {
  left: -100px;
  top: -50px;
  animation: animation11 linear 18s infinite;
  height: 94px;
  width: 94px;
  background-image: url(image/narwhal1.jpg);
}

.elem12 {
  left: -100px;
  top: 58px;
  animation: animation12 linear 17s infinite;
  height: 143px;
  width: 143px;
  background-image: url(image/orca1.jpg);
}

.elem13 {
  left: -68px;
  top: 58px;
  animation: animation13 linear 17s infinite;
  height: 124px;
  width: 124px;
  background-image: url(image/orca2.jpg);
}

.elem14 {
  left: 28px;
  top: 166px;
  animation: animation14 linear 18s infinite;
  height: 84px;
  width: 84px;
  background-image: url(image/orca3.png);
}

.elem15 {
  left: -36px;
  top: 4px;
  animation: animation15 linear 17s infinite;
  height: 174px;
  width: 174px;
  background-image: url(image/orca4.jpg);
}

.elem16 {
  left: 60px;
  top: 31px;
  animation: animation16 linear 18s infinite;
  height: 172px;
  width: 172px;
  background-image: url(image/orca5.jpg);
}

.elem17 {
  left: 156px;
  top: 58px;
  animation: animation17 linear 18s infinite;
  height: 125px;
  width: 125px;
  background-image: url(image/orca6.jpg);
}

.elem18 {
  left: -36px;
  top: 139px;
  animation: animation18 linear 20s infinite;
  height: 102px;
  width: 102px;
  background-image: url(image/orca7.jpg);
}

.elem19 {
  left: 60px;
  top: 193px;
  animation: animation19 linear 20s infinite;
  height: 141px;
  width: 141px;
  background-image: url(image/orca8.jpg);
}

.elem20 {
  left: 156px;
  top: -23px;
  animation: animation20 linear 17s infinite;
  height: 88px;
  width: 88px;
  background-image: url(image/whalebot1.jpg);
}

.anim-delay1 {
  animation-delay: 3s;
}

.anim-delay2 {
  animation-delay: 1s;
}

.anim-delay3 {
  animation-delay: 1s;
}

.anim-delay4 {
  animation-delay: 1s;
}

.anim-delay5 {
  animation-delay: 3s;
}

.anim-delay6 {
  animation-delay: 1s;
}

.anim-delay7 {
  animation-delay: 3s;
}

.anim-delay8 {
  animation-delay: 4s;
}

.anim-delay9 {
  animation-delay: 2s;
}

.anim-delay10 {
  animation-delay: 5s;
}

.anim-delay11 {
  animation-delay: 3s;
}

.anim-delay12 {
  animation-delay: 5s;
}

.anim-delay13 {
  animation-delay: 5s;
}

.anim-delay14 {
  animation-delay: 1s;
}

.anim-delay15 {
  animation-delay: 4s;
}

.anim-delay16 {
  animation-delay: 1s;
}

.anim-delay17 {
  animation-delay: 3s;
}

.anim-delay18 {
  animation-delay: 2s;
}

.anim-delay19 {
  animation-delay: 3s;
}

.anim-delay20 {
  animation-delay: 3s;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#aquarium {
  width: 100%;
  height: 100%;
  background-color: #c7ddff;
  background-image: url('image/sea.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#bubble-field {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@keyframes bubble {
  0% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}

.bubble {
  position: relative;
  box-shadow: 0px 0px 12px 5px inset #fff;
  -webkit-box-shadow: 0px 0px 12px 5px inset #fff;
  -moz-box-shadow: 0px 0px 12px 5px inset #fff;
  -o-box-shadow: 0px 0px 12px 5px inset #fff;
  -ms-box-shadow: 0px 0px 12px 5px inset #fff;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 25px;
  animation: bubble 2s ease 0s infinite normal;
}

.bubble:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 13px;
  height: 8px;
  top: 10%;
  right: 21%;
  border-radius: 50%;
  transform: rotateZ(30deg) scaleY(0.7);
  -webkit-transform: rotateZ(30deg) scaleY(0.7);
  -moz-transform: rotateZ(30deg) scaleY(0.7);
  -ms-transform: rotateZ(30deg) scaleY(0.7);
  -o-transform: rotateZ(30deg) scaleY(0.7);
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

@keyframes bubble-rise {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  100% {
    transform: translateY(-1000px);
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
  }
}

.bubble-rise {
  position: relative;
  display: inline-block;
  margin: 15px;
  top: 100%;
  animation: bubble-rise 2s cubic-bezier(0.3, 0, 0.7, 0.75) 0s infinite normal;
}
